*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Tahoma, Arial,sans-serif;
    box-sizing: border-box;
}
/*----------------Header----------------*/
.dv-header{
    height: 50px;
    background-color: white;
    width: 100%;
}
.dv-header .logo_top{
    padding-top: 10px;
}
/*-------------------Body------------------*/
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f8f5;
}
.xacthuc_box{
    max-width: 450px;
    width: 100%;
    padding: 30px;
    border-radius: 3px;
    background: white;
    position: absolute;
}
.xacthuc_box header{
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: left;
    margin-bottom: 20px;
}
.line{
    margin: 10px ;
    position: relative;
    height: 1px;
    left: -40px;
    width: 115%;
    background-color:lightgray;
}
.notify-cation{
    margin: 17px 0;
}
.notify-cation span, span a{
    font-size: 15px;
    font-weight: 400;
}

.field input{
    display: flex;
    float: left;
    margin: 20px 40px 10px 0;
    padding-left: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    font-weight: 400;
    height: 30px;
    width: 30%;
    border-radius: 1px;
}

.notify-cation .noti{
    display: flex;
    float: left;
}
.notify-cation .noti a{
    color: #4fbe4f;
    text-decoration: none;
}
.notify-cation .noti a:hover{
    color: red;
}
.button-field button{
    float: right;
    font-size: 15px;
    font-weight: 550;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-field .give-up  {
    color: #525252;
    padding-right: 120px;
    background-color: #f5f8f5;
}
.button-field .move button{
    background-color: #4fbe4f;
    width: 100px;
    color: #f1eded;
}


